body {
    margin: 0px;
    overflow: hidden;
    background-color:white
  }
  
  .country {
    fill:#d4d2d2; 
    stroke: black;
    stroke-width: 0.5px;
  }

  .country:hover{
    fill:burlywood
  }